src/main/resources/wsdl/multisigned.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.segurisign.seguridata/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.segurisign.seguridata/" name="SeguriSignService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.segurisign.seguridata/" schemaLocation="WS_SeguriSign_SeguriSign.xsd" />
</xsd:schema>
</types>
<message name="multiSignedMessage_insertExternalCMS">
<part name="parameters" element="tns:multiSignedMessage_insertExternalCMS" />
</message>
<message name="multiSignedMessage_insertExternalCMSResponse">
<part name="parameters" element="tns:multiSignedMessage_insertExternalCMSResponse" />
</message>
<message name="multiSignedMessage_addContentToCMS">
<part name="parameters" element="tns:multiSignedMessage_addContentToCMS" />
</message>
<message name="multiSignedMessage_addContentToCMSResponse">
<part name="parameters" element="tns:multiSignedMessage_addContentToCMSResponse" />
</message>
<message name="getCryptographicData4Sequence">
<part name="parameters" element="tns:getCryptographicData4Sequence" />
</message>
<message name="getCryptographicData4SequenceResponse">
<part name="parameters" element="tns:getCryptographicData4SequenceResponse" />
</message>
<message name="multiSignedMessage_Update">
<part name="parameters" element="tns:multiSignedMessage_Update" />
</message>
<message name="multiSignedMessage_UpdateResponse">
<part name="parameters" element="tns:multiSignedMessage_UpdateResponse" />
</message>
<message name="multiSignedMessage_Status">
<part name="parameters" element="tns:multiSignedMessage_Status" />
</message>
<message name="multiSignedMessage_StatusResponse">
<part name="parameters" element="tns:multiSignedMessage_StatusResponse" />
</message>
<message name="multiSignedMessage_Verify">
<part name="parameters" element="tns:multiSignedMessage_Verify" />
</message>
<message name="multiSignedMessage_VerifyResponse">
<part name="parameters" element="tns:multiSignedMessage_VerifyResponse" />
</message>
<message name="multiSignedMessage_GetHash">
<part name="parameters" element="tns:multiSignedMessage_GetHash" />
</message>
<message name="multiSignedMessage_GetHashResponse">
<part name="parameters" element="tns:multiSignedMessage_GetHashResponse" />
</message>
<message name="authenticatePKCS7">
<part name="parameters" element="tns:authenticatePKCS7" />
</message>
<message name="authenticatePKCS7Response">
<part name="parameters" element="tns:authenticatePKCS7Response" />
</message>
<message name="getOriginalDocument">
<part name="parameters" element="tns:getOriginalDocument" />
</message>
<message name="getOriginalDocumentResponse">
<part name="parameters" element="tns:getOriginalDocumentResponse" />
</message>
<message name="multiSignedMessage_Init">
<part name="parameters" element="tns:multiSignedMessage_Init" />
</message>
<message name="multiSignedMessage_InitResponse">
<part name="parameters" element="tns:multiSignedMessage_InitResponse" />
</message>
<message name="multiSignedMessage_Final">
<part name="parameters" element="tns:multiSignedMessage_Final" />
</message>
<message name="multiSignedMessage_FinalResponse">
<part name="parameters" element="tns:multiSignedMessage_FinalResponse" />
</message>
<portType name="SeguriSignService">
<operation name="multiSignedMessage_insertExternalCMS">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_insertExternalCMSRequest" message="tns:multiSignedMessage_insertExternalCMS" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_insertExternalCMSResponse" message="tns:multiSignedMessage_insertExternalCMSResponse" />
</operation>
<operation name="multiSignedMessage_addContentToCMS">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_addContentToCMSRequest" message="tns:multiSignedMessage_addContentToCMS" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_addContentToCMSResponse" message="tns:multiSignedMessage_addContentToCMSResponse" />
</operation>
<operation name="getCryptographicData4Sequence">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/getCryptographicData4SequenceRequest" message="tns:getCryptographicData4Sequence" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/getCryptographicData4SequenceResponse" message="tns:getCryptographicData4SequenceResponse" />
</operation>
<operation name="multiSignedMessage_Update">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_UpdateRequest" message="tns:multiSignedMessage_Update" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_UpdateResponse" message="tns:multiSignedMessage_UpdateResponse" />
</operation>
<operation name="multiSignedMessage_Status">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_StatusRequest" message="tns:multiSignedMessage_Status" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_StatusResponse" message="tns:multiSignedMessage_StatusResponse" />
</operation>
<operation name="multiSignedMessage_Verify">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_VerifyRequest" message="tns:multiSignedMessage_Verify" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_VerifyResponse" message="tns:multiSignedMessage_VerifyResponse" />
</operation>
<operation name="multiSignedMessage_GetHash">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_GetHashRequest" message="tns:multiSignedMessage_GetHash" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_GetHashResponse" message="tns:multiSignedMessage_GetHashResponse" />
</operation>
<operation name="authenticatePKCS7">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/authenticatePKCS7Request" message="tns:authenticatePKCS7" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/authenticatePKCS7Response" message="tns:authenticatePKCS7Response" />
</operation>
<operation name="getOriginalDocument">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/getOriginalDocumentRequest" message="tns:getOriginalDocument" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/getOriginalDocumentResponse" message="tns:getOriginalDocumentResponse" />
</operation>
<operation name="multiSignedMessage_Init">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_InitRequest" message="tns:multiSignedMessage_Init" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_InitResponse" message="tns:multiSignedMessage_InitResponse" />
</operation>
<operation name="multiSignedMessage_Final">
<input wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_FinalRequest" message="tns:multiSignedMessage_Final" />
<output wsam:Action="http://service.segurisign.seguridata/SeguriSignService/multiSignedMessage_FinalResponse" message="tns:multiSignedMessage_FinalResponse" />
</operation>
</portType>
<binding name="SeguriSignServicePortBinding" type="tns:SeguriSignService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="multiSignedMessage_insertExternalCMS">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiSignedMessage_addContentToCMS">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCryptographicData4Sequence">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiSignedMessage_Update">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiSignedMessage_Status">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiSignedMessage_Verify">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiSignedMessage_GetHash">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="authenticatePKCS7">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOriginalDocument">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiSignedMessage_Init">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiSignedMessage_Final">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="SeguriSignService">
<port name="SeguriSignServicePort" binding="tns:SeguriSignServicePortBinding">
<soap:address location="http://10.118.11.39:8080/WS_SeguriSign/SeguriSign" />
</port>
</service>
</definitions>